<html>
    <head>
        <title>Promo Contest</title>
        <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
    </head>

    <style>
        button{
           background-color:rgb(235, 21, 85);
           border-radius: 40px;
           color: white;
           padding: 10px;
           border: none;
           margin: 10px;
           width: 130px;
       }
    </style>

    <body style="padding: 0; margin: 0; font-family: 'PT Sans', sans-serif;">
        <div style="font-size: 48px; margin: 40px;">Hey {{name}}!</div>
        <div style="margin: 40px; margin-top: 64px; font-size: 72px;">You have got <span style="padding-left: 18px; padding-right: 18px;color: white; border-radius: 100px; background-color: rgb(235, 21, 85);">{{entries}}</span> entries so far.</div>
        <div style="font-size: 24px; margin: 50px;">Keep inviting new people through your link to increase your chances of winning.</div>
        <button style="cursor:pointer; margin: 45px; margin-top: 64px; width: 200px; font-size: 24px;" onclick="window.location.href='leaderboard'">Leaderboard</button>
    </body>
</html>